.navBox {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #213555;
    /* sticky */
    top: 0;
    width: 100%;
}

.logoOptionsBox {
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.optionsBox {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.accountBox {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1em;
}
.hideAccount {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.hideOptions {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.menuIcon {
    display: none;
}

@media screen and (max-width: 770px) {
    .optionsBox {
        flex-direction: column;
        margin-top: 1em;
    }
    
    .accountBox {
        display: block;   
        padding: 1em;
        padding-top: 0;
    }

    .hideAccount {
        display: none;
    }
    .hideOptions {
        display: none;
    }
    
    .logoOptionsBox {
        display: block;
    }

    .navBox {
        display: block;
    }

    .logoIcon {
        display: flex;
        justify-content: space-between;
    }

    .menuIcon {
        display: block;
    }
}
