.search {
    display: flex;
    align-items: center;
    flex: 0 1 40rem;
    margin-right: 20px;
    justify-content: center;
}

.search-logo {
    height: 15px;
    margin-left: -30px;
}

.search-input {
    width: 50%;
    border-radius: 15px;
    border: 1px solid #213555;
    padding: 0.5em; 
}